* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  cursor: default;
}

body {
  height: 1850px;
  background-color: rgba(0,0,0, 0.1);
}

a {
  text-decoration: none;
}

#nav-bar {
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  width: auto;
  height: 80px;
  text-align: center;
  background-color: black;
  z-index: 1;
}

#header-img {
  position: absolute;
  top: -95px;
  left: 0;
}

.nav-link {
  position: relative;
  top: 55px;
  right: -40%;
  margin-right: 10px;
  color: #fcf798;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

#shortcut-media {
  position: relative;
  top: 39px;
}

#shortcut-apparel {
  position: absolute;
  top: 1850px;
}

#company-title {
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  margin: auto;
  width: 80%;
  height: auto;
  text-align: center;

  /* border: 1px solid black; */
}

.about-text {
  position: absolute;
  left: 0;
  right: 0;
  top: 180px;
  margin: auto;
  width: 90%;
  height: auto;
  text-align: justify;
  font-size: 18px;
  /* border: 1px solid black; */
}

#form {
  position: absolute;
  left: 0;
  right: 0;
  top: 470px;
  margin: auto;
  width: 80%;
  height: auto;
  text-align: center;
  /* border: 1px solid black; */
}

#email {
  padding-top: 2px;
  padding-left: 4px;
  padding-bottom: 1px;
  width: 420px;
  height: 40px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

#submit {
  -webkit-appearance: none;

  margin-top: 12px;
  width: 160px;
  height: 34px;
  color: white;
  background-color: black;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  border-radius: 10px;
  cursor: pointer;
}

#star-img-left-media {
  position: absolute;
  left: -81%;
  right: 0;
  top: 608px;
  margin: auto;
  width: 26px;
  height: 25px;
  text-align: center;
}

#star-bar-left-media {
  position: absolute;
  left: -52%;
  right: 0;
  top: 639px;
  margin: auto;
  width: 31%;
  height: 2px;
  text-align: center;
  background-color: black;
}

#media-title {
  position: absolute;
  left: 0;
  right: 0;
  top: 620px;
  margin: auto;
  width: 80%;
  height: auto;
  text-align: center;
  /* border: 1px solid black; */
}

#star-img-right-media {
  position: absolute;
  left: 81%;
  right: 0;
  top: 608px;
  margin: auto;
  width: 26px;
  height: 25px;
  text-align: center;
}

#star-bar-right-media {
  position: absolute;
  left: 52%;
  right: 0;
  top: 639px;
  margin: auto;
  width: 31%;
  height: 2px;
  text-align: center;
  background-color: black;
}

#video-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 680px;
  margin: auto;
  width: 80%;
  height: 500px;
  text-align: center;

  /* border: 1px solid black; */
}

#video {
  width: 100%;
  height: 100%;
}

#apparel-header {
  position: relative;
  top: 84px;
}

#star-img-left-apparel {
  position: absolute;
  left: -81%;
  right: 0;
  top: 1168px;
  margin: auto;
  width: 26px;
  height: 25px;
  text-align: center;
}

#star-bar-left-apparel {
  position: absolute;
  left: -48%;
  right: 0;
  top: 1199px;
  margin: auto;
  width: 35%;
  height: 2px;
  text-align: center;
  background-color: black;
}

#apparel-title {
  position: absolute;
  left: 0;
  right: 0;
  top: 1180px;
  margin: auto;
  width: 80%;
  height: auto;
  text-align: center;
  /* border: 1px solid black; */
}

#star-img-right-apparel {
  position: absolute;
  left: 81%;
  right: 0;
  top: 1168px;
  margin: auto;
  width: 26px;
  height: 25px;
  text-align: center;
}

#star-bar-right-apparel {
  position: absolute;
  left: 48%;
  right: 0;
  top: 1199px;
  margin: auto;
  width: 35%;
  height: 2px;
  text-align: center;
  background-color: black;
}

#product-1-container {
  position: absolute;
  left: -650px;
  right: 0;
  top: 1350px;
  margin: auto;
  width: 250px;
  height: 250px;
  text-align: center;
  background-color: rgba(0,0,0, 0.9);
  cursor: pointer;
}

.product-title {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

#product-1-title {
  position: absolute;
  left: -650px;
  right: 0;
  top: 1620px;
  margin: auto;
  width: 250px;
  height: 50px;
  text-align: center;
  cursor: pointer;

  /* border: 1px solid black; */
}

#male-model {
  position: absolute;
  left: -54px;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 315px;
  height: 210px;
  cursor: pointer;

  transition: all .4s ease-in-out;
}

#male-model:hover {
  transform: scale(1.5);
  bottom: 53px;
}

#product-2-container {
  position: absolute;
  left: 0px;
  right: 0;
  top: 1350px;
  margin: auto;
  width: 250px;
  height: 250px;
  text-align: center;
  background-color: rgba(0,0,0, 0.9);
  cursor: pointer;
}

#product-2-title {
  position: absolute;
  left: 0px;
  right: 0;
  top: 1620px;
  margin: auto;
  width: 250px;
  height: 50px;
  text-align: center;
  cursor: pointer;

  /* border: 1px solid black; */
}

#female-model-2 {
  position: absolute;
  left: -34px;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 315px;
  height: 210px;
  cursor: pointer;

  transition: all .4s ease-in-out;
}

#female-model-2:hover {
  transform: scale(1.5);
  bottom: 53px;
}

#product-3-container {
  position: absolute;
  left: 650px;
  right: 0;
  top: 1350px;
  margin: auto;
  width: 250px;
  height: 250px;
  text-align: center;
  background-color: rgba(0,0,0, 0.9);
  cursor: pointer;
}

#product-3-title {
  position: absolute;
  left: 650px;
  right: 0;
  top: 1620px;
  margin: auto;
  width: 250px;
  height: 50px;
  text-align: center;
  cursor: pointer;

  /* border: 1px solid black; */
}

#female-model {
  position: absolute;
  left: -4px;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 315px;
  height: 210px;
  cursor: pointer;

  transition: all .4s ease-in-out;
}

#female-model:hover {
  transform: scale(1.5);
  bottom: 53px;
}


/* ----- FOOTER BEGINS BELOW ----- */

#footer {
  position: absolute;
  top: 1720px;
  left: 0;
  right: 0;
  width: auto;
  height: 101px;
  margin: auto;
  margin-top: 30px;
  padding-top: 15px;
  padding-bottom: 10px;
  background-color: black;
}

.footer-icon {
  color: #fcf798;
  link-style: none;
  cursor: pointer;
}

.footer-icon-hovered {
  opacity: 0.75;
}

.footer-icon:active{
  opacity: 0.75;
}

.footer-text-top {
  margin: auto;
  padding: 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 0.9em;
  color: #fcf798;
}

.footer-text-bottom {
  margin: auto;
  padding: 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 0.9em;
  color: #fcf798;
}

.social-media-container {
  width: 50%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 15px;
  text-align: center;
}
